USE [DB_DIVOS_STATISTIK]
GO
/****** Object:  StoredProcedure [dbo].[InsertAgentCall]    Script Date: 25.04.2026 10:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[InsertAgentCall]
	@userLogin nvarchar(64),
	@callDirection int,
	@callRef nvarchar(128),
	@callQueuesSeqNumber int,
	@callingNumber nvarchar(64),
	@calledNumber nvarchar(64),
	@calledNumberInCNF nvarchar(64),
	@disconnectReason int,
	@disconnectSource int,
	@startDateTime datetime,
	@waveFile nvarchar(255),
	@durationSec int,
	@waitTimeSec int,
	@acceptTimeSec int,
	@trunkNumber nvarchar(64),
	@hotlineNumber nvarchar(64),
	@initialDialedNumber nvarchar(64),
	@forwardedTo nvarchar(64),
	@acSource int,
	@acCallingNumber nvarchar(64),
	@acCalledNumber nvarchar(64),
	@partnerUserLogin nvarchar(64),
	@cost decimal(19,4),
	@conferenceId uniqueidentifier,
	@mediaType int
as
begin
	declare @result table(SeqNumber int);

	insert [AgentCalls] (AgentID, CallDirection, CallRef, CallQueuesSeqNumber, CallingNumber, CalledNumber, CalledNumberInCNF,
		DisconnectReason, DisconnectSource, StartDateTime, WaveFile, DurationSec, WaitTimeSec, AcceptTimeSec,
		TrunkNumber, HotlineNumber, InitialDialedNumber, ForwardedTo, AcSource, AcCallingNumber, AcCalledNumber, PartnerAgentID,
		Cost, ConferenceId, MediaType)
		output inserted.SeqNumber into @result
		values (@userLogin, @callDirection, @callRef, @callQueuesSeqNumber, @callingNumber, @calledNumber, @calledNumberInCNF,
			@disconnectReason, @disconnectSource, @startDateTime, @waveFile, @durationSec, @waitTimeSec, @acceptTimeSec,
			@trunkNumber, @hotlineNumber, @initialDialedNumber, @forwardedTo, @acSource, @acCallingNumber, @acCalledNumber, @partnerUserLogin,
			@cost, @conferenceId, @mediaType);

	select SeqNumber from @result;
end
